body{
    background-color: rgb(226, 226, 226);
}
.form-container{
    display: flex;
    flex-direction: row;
    width: 50%; 
    margin: 10% auto;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    background-color:rgb(255, 255, 255) ;
    padding-block: 20px;
}

.title-changer{
    font-family: "montserrat";
    font-weight: 500;
    color: #4981f5;
    font-size: 2vw;
    white-space: nowrap;
}

.vl {
    border-left: 3px solid #4981f5;
    height: 20em;
    border-radius: 5px;
    margin-left: 2vw;   
}

.right-block{
    margin-left: 2vw;
    width: 50%; 
}

.left-block{
    width: 50%; 
    margin-left: 0.5vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{ 
    align-self: end;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: -20px;
}

.updateLabel{
    font-family: "montserrat";
    font-weight: 600;
    font-size: 1.1vw;
    padding-bottom: 0;
    color: #4981f5;

}

img{
    width: 40%;
}

.changer{
    width: 90%;
    height: 3em;
    border: none;
    border-radius: 12.92vw;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.16);
    background: #4981f5;
    font-family: "montserrat";
    font-weight: 800;
    font-size: 0.8rem;
    color: #ffffff;
    align-self: center;
    cursor: pointer;
}

.passInput{
    font-family: "montserrat";
    padding-left: 5px;
    color: #000000d2;
    font-size: 1rem;
    align-self: center;
    margin-bottom: 3em;
    width: 85%;
    height: 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    filter: drop-shadow(0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.261));
   
}

.passInput::placeholder { 
    color: black;
    font-weight: 300;
    opacity: 1; 
  }

.button-grp{
    text-align: center;
}

.error {
    position:absolute;
    font-family: 'montserrat';
    color : red;
    background-color: #f1dcdc;
    width: 40%;
    margin-top: -0.5%;
    left: 30%;
    text-align: center;
    font-size: 1rem;
    height: 18px;
    padding: 10px;
    border-radius: 10px;
    z-index: 99;
    animation: fadeIn ease-in .5s;
}

.right-form{
    margin-top: 10%;;
    margin-left: -3%;;
}

@keyframes fadeIn {
    0% { opacity: 0; 
        margin-top: -50px;}
    100% { opacity: 1;
    margin-top:0 }
  }


@media only screen and (max-width: 900px) {
    .form-container{
        width: 90%; 
    }

}

@media only screen and (max-width: 810px) {
    .error{
        width: 80%; 
        left: 10%;
        z-index: 99;
    }
    
}

@media only screen and (max-width: 400px) {
    .form-container{
        flex-direction: column;
    }

    .vl {

        border-left: 0;
        border-bottom: 3px solid #4981f5; ;
        height: 0;
        width:90%;
        align-self: center;
    }

    .passInput{
        width: 100%;  
        margin-right: 0;
    }

   .error{
    font-size: 0.7rem;
    position: relative;
    left: 5%;
   }
   
    .right-block{
        align-self: center;
        width: 85%;
    }

    .img{
        height: 100px;
    }

    .left-block{
        width: 100%; 
        margin-bottom: 1.5em;
    }
    .title-changer{
        font-size: 1rem;
    }
}